@keyframes move-background {
  to {
    background-position: -50% 50%;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
}

body {
  line-height: 1.5;
  color: #555;
  background-color: #26252a;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.animation--writing--on,
.animation--contact--on {
  overflow-x: hidden;
  overflow-y: hidden;
}

h1,
h2,
strong {
  color: #555;
}

textarea,
[type=email],
[type=text] {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

textarea, [type=email] {
  width: 100%;
  padding: 0.5em 0.75em;
  font-size: 1em;
}

[type=email] {
  margin-bottom: 1em;
}

textarea {
  margin-bottom: 0.5em;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  appearance: none;
}

figure {
  margin: 0;
  padding: 0;
  position: relative;
}

figure img {
  display: block;
}

figcaption {
  font-style: italic;
  position: absolute;
  bottom: 0.5em;
  left: 0;
  background: rgba(85, 85, 85, 0.55);
  padding: 0.5em 0.75em;
  color: #eee;
  font-size: 0.8rem;
}

.button--close-dialog {
  position: absolute;
  top: -1.9em;
  right: -2.4em;
  height: 3.8em;
  width: 5em;
  display: inline-block;
}

.button--serious {
  transition: 0.6s background-color;
  background-color: #e19277;
  border-radius: 4px;
  text-indent: 0;
  border: 1px solid rgba(85, 85, 85, 0.5);
  display: inline-block;
  color: white;
  font-size: 0.9em;
  line-height: 2;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  letter-spacing: 1.3px;
  padding: 0.2em 1em;
  text-shadow: 1px 1px 0 #555;
}
.button--serious:hover {
  background-color: #ff9277;
}
.button--serious:active {
  position: relative;
  top: 1px;
}

main {
  transition: 0.5s opacity, 0.5s transform;
  position: relative;
  flex: 1;
  flex-direction: column;
  will-change: transform;
}

.animation--writing--on main,
.animation--contact--on main {
  opacity: 0;
  pointer-events: none;
}

.dialog {
  position: fixed;
  display: block;
  margin: 0;
  top: 50%;
  left: 50%;
  transition: 0.5s transform, 0.5s opacity;
  background: #eee;
  color: #555;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.25) translate3d(-50%, -50%, 0);
  transform-origin: 0 0;
  padding: 1em 2em;
  border: none;
  width: 30em;
  max-width: calc(100% - 5em);
}

.dialog:focus {
  outline: none;
}

.dialog .content {
  transform: translate3d(0, 0, 0);
  max-height: 55vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.dialog [data-section].hide {
  opacity: 0;
  position: absolute;
  max-height: 0;
  overflow: hidden;
}

.dialog dd {
  margin: 0.25em 0 1em;
}

.dialog p {
  margin-top: 0;
}

.dialog h2 {
  margin-top: 0.5em;
}

.message-success {
  background: #eee;
  color: #555;
  display: none;
  text-align: center;
  transition: 0.5s opacity;
}

.message-success[aria-hidden=true] {
  opacity: 0;
  pointer-events: none;
}

.message-success:target {
  display: block;
  position: fixed;
  top: 2em;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 1em;
  border: none;
  max-width: calc(100% - 5em);
}

.animation--writing--on .dialog,
.animation--contact--on .dialog {
  transform: scale(1) translate3d(-50%, -50%, 0);
  opacity: 1;
  pointer-events: auto;
}

.svg-icon-defs {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  flex: none;
}

.hero {
  position: relative;
  min-height: 100%;
  margin: 0 auto;
  display: block;
  text-align: center;
  max-width: 70vw;
  z-index: 1;
  flex-direction: column;
  min-width: 100vw;
  transition: 0.5s min-width;
  order: -1;
}

.on .hero {
  min-width: 100vw;
}

.hero img {
  height: auto;
  width: 100%;
  margin-bottom: -0.5em;
}

.intro {
  position: relative;
  padding: 1.5em 2em;
  background-color: white;
  transition: opacity 0.5s;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #eee;
}

.intro p {
  text-align: center;
  font-size: 1.2em;
  max-width: 75vw;
  margin: 0 auto 1em;
}

.intro p:last-child {
  margin-bottom: 0;
}

.link {
  position: relative;
  color: rgb(255, 146, 119);
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(85, 85, 85,.55);
  letter-spacing: 0.5px;
}

.link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 146, 119);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s 0s ease-in-out;
}

.link:hover:before {
  transform: scaleX(1);
  visibility: visible;
}

.blocks {
  display: flex;
  align-items: center;
  width: 100%;
}

.block {
  position: relative;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  transition: 0.5s transform, 0.5s opacity;
}

.block:before {
  content: '';
  display: block;
  height: 100%;
  background: rgba(30, 23, 10, 0.15);
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s background;
  width: 100%;
}

.blocks:hover .block:hover button,
.blocks:focus .block button,
.blocks:hover .block:hover .button,
.blocks:focus .block .button {
  color: rgb(255, 146, 119);
  fill: rgb(255, 146, 119);
}

.block button,
.block .button {
  max-width: calc(100% - 25vw);
  max-height: 100%;
  color: #eee;
  fill: #eee;
  transition: 0.5s color, 0.5s fill;
  z-index: 10;
}

.button:focus {
  color: rgb(255, 146, 119);
  fill: rgb(255, 146, 119);
  outline: none;
}

button svg {
  display: inline-block;
  width: 100%;
  height: 100%;
}

path {
  fill: currentColor;
}

.icon {
  width: 100%;
  height: 100%;
}

.icon-close {
  fill: #B49452;
  color: white;
}

footer {
  transition: 0.5s opacity;
  padding: 1.6em 1.5em;
  position: relative;
  background: gray;
  text-align: center;
  will-change: opacity;
}

.animation--writing--on footer,
.animation--contact--on footer {
  opacity: 0;
}

footer .bg:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../img/github-stats.jpg) 50% 50% repeat-x;
  background-size: contain;
  opacity: 0.55;
}

footer small {
  color: white;
  background: black;
  font-style: italic;
  padding: 0.8em;
  border-radius: 4px;
  letter-spacing: 1px;
}

@media screen and (min-width: 430px) {
  .block button, .block .button {
    max-width: calc(100% - 30vw);
  }
}

@media screen and (min-width: 600px) {
  .block button, .block .button {
    max-width: calc(100% - 32vw);
  }

  .dialog dd {
    margin-left: 1em;
  }
}

@media screen and (min-width: 680px) {
  .block button, .block .button {
    max-width: calc(100% - 34vw);
  }
}

@media screen and (min-width: 800px) {
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main {
    display: flex;
    flex-direction: row;
  }

  figcaption {
    bottom: 0;
  }

  .animation--writing--on main,
  .animation--contact--on main {
    transform: scale(1.25);
  }

  .blocks {
    flex-direction: column;
    width: 15vw;
    transition: 0.5s opacity;
    opacity: 0;
  }

  .on .blocks {
    opacity: 1;
  }

  .blocks--left {
    order: -2;
  }

  .block {
    width: auto;
    flex: 1;
    align-items: center;
  }

  .block button,
  .block .button {
    max-width: 75%;
    position: relative;
  }

  .block .button:after {
    content: attr(data-section-title);
    opacity: 0;
    transition: 0.5s opacity, 0.5s transform;
    font-size: 1rem;
    transform: translateX(-50%) translateY(-0.2em) scale(0.75);
    padding: 0.5em 1em;
    position: absolute;
    left: 50%;
    bottom: -2.4em;
    white-space: nowrap;
    transform-origin: top center;
  }

  .block .button.button--email:after {
    bottom: -1.4em;
  }

  .block .button:hover:after,
  .block .button:focus:after {
    opacity: 1;
    transform: translateX(-50%) translateY(0) scale(1);
  }

  .hero {
    display: flex;
    overflow: hidden;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .hero img {
    margin-bottom: 0;
  }

  .on .hero {
    min-width: 70vw;
  }

  .intro p {
    max-width: 70vw;
  }

  footer {
    position: relative;
    top: 9px;
  }

  footer .bg:after {
    animation: 75s move-background linear infinite;
  }
}