*,
*:before,
*:after {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
}

body {
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  color: #555;
  background-color: #555;
  background-image: radial-gradient(center, ellipse cover, #fff 0%, #000 90%);
}

h1,
h2,
strong {
  color: #333;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  appearance: none;
}

.button--serious {
  transition: 0.6s background-color;
  background-color: #e19277;
  border-radius: 4px;
  text-indent: 0;
  border: 1px solid rgba(85, 85, 85, 0.5);
  display: inline-block;
  color: white;
  font-size: 0.9em;
  line-height: 2;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  letter-spacing: 1.3px;
  padding: 0.2em 1em;
  text-shadow: 1px 1px 0 #555;
}
.button--serious:hover {
  background-color: #ff9277;
}
.button--serious:active {
  position: relative;
  top: 1px;
}

main {
  position: relative;
  flex: 1;
  flex-direction: column;
}

.svg-icon-defs {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  flex: none;
}

.hero {
  position: relative;
  min-height: 100%;
  margin: 0 auto;
  display: block;
  text-align: center;

  max-width: 70vw;
  z-index: 1;
  flex-direction: column;
  min-width: 100vw;
  transition: 0.5s min-width;
  order: -1;
}

.on .hero {
  min-width: 100vw;
}

.hero img {
  height: auto;
  width: 100%;
  margin-bottom: -0.5em;
}

.intro {
  position: relative;
  padding: 1.5em 2em;
  background-color: rgba(255, 255, 255, 0.85);
  transition: opacity 0.5s;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro p {
  text-align: center;
  font-size: 1.2em;
  max-width: 75vw;
  margin: 0 auto 1em;
}

.intro p:last-child {
  margin-bottom: 0;
}

.intro .link {
  position: relative;
  color: rgb(255, 146, 119);
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  letter-spacing: 0.5px;
}

.intro .link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 146, 119);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s 0s ease-in-out;
}

.intro .link:hover:before {
  transform: scaleX(1);
  visibility: visible;
}

.blocks {
  display: flex;
  align-items: center;
  width: 100%;
}

.block {
  position: relative;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  transition: 0.5s transform, 0.5s opacity;
}

.block:before {
  content: '';
  display: block;
  height: 100%;
  background: rgba(30, 23, 10, 0.15);
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s background;
  width: 100%;
}

.blocks:hover .block:hover button,
.blocks:focus .block button,
.blocks:hover .block:hover .button,
.blocks:focus .block .button {
  color: rgb(255, 146, 119);
}

.block:focus,
.block button:focus,
.block .button:focus {
  outline: none;
}

.block button,
.block .button {
  max-width: calc(100% - 35vw);
  max-height: 100%;
  color: black;
  transition: 0.5s color;
  z-index: 10;
}

button svg {
  display: inline-block;
  width: 100%;
  height: 100%;
}

path {
  fill: currentColor;
}

.icon {
  width: 100%;
  height: 100%;
}

.icon-close {
  fill: #B49452;
  color: white;
  transform-origin: center;
  stroke: white;
}

footer {
  padding: 1em 1.5em;
  position: relative;
  background: gray;
  text-align: center;
}

footer .bg:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(/img/github_stats.png) 0 0 repeat-x;
  background-position: 48% 50%;
  opacity: 0.2;
}

footer small {
  color: rgb(255, 146, 119);
  background: black;
  padding: 0.8em;
  font-style: italic;
}


@media screen and (min-width: 800px) {
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main {
    display: flex;
    flex-direction: row;
  }

  .blocks {
    flex-direction: column;
    width: 15vw;
  }

  .blocks--left {
    order: -2;
  }

  .block {
    width: auto;
  }

  .block button,
  .block .button {
    max-width: 75%;
  }

  .hero {
    display: flex;
  }

  .hero img {
    margin-bottom: 0;
  }

  .on .hero {
    min-width: 70vw;
  }

  .intro p {
    max-width: 70vw;
  }

  footer {
    text-align: left;
  }
}