*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
}

body {
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  color: #555;
  background-color: #555;
  background-image: -webkit-radial-gradient(center, ellipse cover, #fff 0%, #000 90%);
  background-image: -moz-radial-gradient(center, ellipse cover, #fff 0%, #000 90%);
  background-image: radial-gradient(center, ellipse cover, #fff 0%, #000 90%);
  font-family: 'Droid Sans', sans-serif;
}

h1,
h2,
strong {
  color: #333;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.button--serious {
  -webkit-transition: 0.6s background-color;
  -moz-transition: 0.6s background-color;
  transition: 0.6s background-color;
  background-color: #e19277;
  border-radius: 4px;
  text-indent: 0;
  border: 1px solid rgba(85, 85, 85, 0.5);
  display: inline-block;
  color: white;
  font-size: 0.9em;
  line-height: 2;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  letter-spacing: 1.3px;
  padding: 0.2em 1em;
  text-shadow: 1px 1px 0 #555;
}
.button--serious:hover {
  background-color: #ff9277;
}
.button--serious:active {
  position: relative;
  top: 1px;
}

main {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.svg-icon-defs {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -moz-box-flex: 0;
  -ms-flex: none;
  flex: none;
}

.hero {
  position: relative;
  min-height: 100%;
  margin: 0 auto;
  display: block;
  text-align: center;

  max-width: 70vw;
  z-index: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 100vw;
  -webkit-transition: 0.5s min-width;
  -moz-transition: 0.5s min-width;
  transition: 0.5s min-width;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -moz-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

.on .hero {
  min-width: 100vw;
}

.hero img {
  height: auto;
  width: 100%;
  margin-bottom: -0.5em;
}

.intro {
  position: relative;
  padding: 1.5em 2em;
  background-color: rgba(255, 255, 255, 0.85);
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.intro p {
  text-align: center;
  font-size: 1.2em;
  max-width: 75vw;
  margin: 0 auto 1em;
}

.intro p:last-child {
  margin-bottom: 0;
}

.intro .link {
  position: relative;
  color: rgb(255, 146, 119);
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  letter-spacing: 0.5px;
}

.intro .link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 146, 119);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s 0s ease-in-out;
  -moz-transition: all 0.3s 0s ease-in-out;
  transition: all 0.3s 0s ease-in-out;
}

.intro .link:hover:before {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  visibility: visible;
}

.blocks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.block {
  position: relative;
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: 0.5s opacity, 0.5s -webkit-transform;
  transition: 0.5s opacity, 0.5s -webkit-transform;
  -moz-transition: 0.5s transform, 0.5s opacity, 0.5s -moz-transform;
  transition: 0.5s transform, 0.5s opacity;
  transition: 0.5s transform, 0.5s opacity, 0.5s -webkit-transform, 0.5s -moz-transform;
}

.block:before {
  content: '';
  display: block;
  height: 100%;
  background: rgba(30, 23, 10, 0.15);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.5s background;
  -moz-transition: 0.5s background;
  transition: 0.5s background;
  width: 100%;
}

.blocks:hover .block:hover button,
.blocks:focus .block button,
.blocks:hover .block:hover .button,
.blocks:focus .block .button {
  color: rgb(255, 146, 119);
}

.block button,
.block .button {
  max-width: -moz-calc(100% - 35vw);
  max-width: calc(100% - 35vw);
  max-height: 100%;
  color: black;
  -webkit-transition: 0.5s color;
  -moz-transition: 0.5s color;
  transition: 0.5s color;
  z-index: 10;
}

.button:focus {
  color: rgb(255, 146, 119);
  outline: none;
}

button svg {
  display: inline-block;
  width: 100%;
  height: 100%;
}

path {
  fill: currentColor;
}

.icon {
  width: 100%;
  height: 100%;
}

.icon-close {
  fill: #B49452;
  color: white;
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  stroke: white;
}

footer {
  padding: 1.6em 1.5em;
  position: relative;
  background: gray;
  text-align: center;
}

footer .bg:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(/img/github_stats.png) 50% 50% repeat-x;
  background-size: contain;
  opacity: 0.35;
}

footer small {
  color: white;
  background: black;
  font-style: italic;
  padding: 0.8em;
  border-radius: 4px;
}


@media screen and (min-width: 800px) {
  body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
  }

  main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 15vw;
  }

  .blocks--left {
    -webkit-box-ordinal-group: -1;
    -webkit-order: -2;
    -moz-box-ordinal-group: -1;
    -ms-flex-order: -2;
    order: -2;
  }

  .block {
    width: auto;
  }

  .block button,
  .block .button {
    max-width: 75%;
  }

  .hero {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }

  .hero img {
    margin-bottom: 0;
  }

  .hero:after {
    content: '';
    background-color: rgba(255, 255, 255, 0.85);
    height: 10px;
    width: 100%;
    position: absolute;
    bottom: -10px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 4px 2px -2px gray;
  }

  .on .hero {
    min-width: 70vw;
  }

  .intro p {
    max-width: 70vw;
  }

  footer {
    text-align: left;
  }
}